app = "democore"
primary_region = "lhr"

[build]
dockerfile = "Dockerfile"

[[services]]
internal_port = 9090
protocol = "tcp"

# External port for plaintext gRPC traffic
[[services.ports]]
port = 80
handlers = ["http"]

[[services.tcp_checks]]
interval = "15s"
timeout = "2s"
grace_period = "10s"